<!-- About Section -->

<style>
.move {
    margin-top: -100px;
}

</style>

<div class="container move">
    <section class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-2">
                <h1>Team Members</h1>
                    <p>
                        Moustafa Abdou
                        The City College of New York
                        drsh2k19@gmail.com
                        https://github.com/drsh2k
                    </p>
                    <p>
                        Olga Kent
                        CUNY Hunter College
                        olgakent.ok@gmail.com
                        https://github.com/olgakent
                    </p>
                    <p>
                        Hugo Meza
                        The City College of New York
                        hgmeza114@gmail.com
                        https://github.com/hgmeza
                    </p>
                    <p>
                        Neal Rea
                        The City College of New York
                        nealrea818@gmail.com
                        https://github.com/nealrea
                    </p>
            </div>
        </div>
    </section>
</div>
