<!-- About Section -->

<style>
.move {
    margin-top: -100px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10%;
    display: block;
    position: static;
}

.item {
    width: 270px;
    min-height: 270px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}

</style>
<div class="container move">
    <section class="container content-section">
        <h1>Team Members</h1>
         <div>
            <img class="img-responsive item" align="left" src="ReaNeal.jpg">
             <h3>Neal Rea</h3>
            <p>Neal is a student at City College of New York, CUNY. He is passionate about afdffdssgr</p>
            <p>Feel free to check out his work: <a href="https://github.com/nealrea">here!</a></p>
        </div>
        <br><br><br><br><br><br>
        <div class="col-md-12 col-xs-4">
            <img class="img-responsive item" align="left" src="AbdouMoustafa.JPG">
            <h3>Moustafa Abdou</h3>
            <p>Moustafa is a student at City College of New York, CUNY. He is passionate about afdffdssgr</p>
            <p>Feel free to check out his work: <a href="https://github.com/drsh2k">here!</a> </p>
        </div>
        <br><br><br><br><br><br>
        <div>
            <img class="img-responsive item" align="left" src="KentOlga.JPG">
            <h3>Olga Kent</h3>
            <p>Olga is a student at Hunter College, CUNY. She is passionate about afdffdssgr</p>
            <p>Feel free to check out her work: <a href="https://github.com/olgakent">here!</a></p>
        </div>
        <br><br><br><br><br><br>
        <div class="col-md-12 col-xs-4">
            <img class="img-responsive item" align="left" src="MezaHernandezHugo.jpg">
            <h3>Hugo Meza</h3>
            <p>Hugo is a student at City College of New York, CUNY. He is passionate about afdffdssgr</p>
            <p>Feel free to check out his work: <a href="https://github.com/hgmeza">here!</a></p>
        </div>
        <br><br><br><br><br><br>
    </section>
</div>
