<style>
body { 
    background-image: url(backgroundHome.jpg);
    background-repeat: no-repeat;
    margin: auto;
}
</style>
<!-- Team members -->
<div class="container move">
    <section class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-2">
                <h1>Team Members</h1>
                    <div class="card-deck">
                        <!-- Moustafa -->
                      <div class="card">
                        <img class="card-img-top img-fluid" src="https://avatars2.githubusercontent.com/u/9379035?s=400&v=4" alt="Moustafa">
                        <div class="card-block">
                          <h4 class="card-title">Moustafa</h4>
                          <p class="card-text">The City College of New York</p>
                        </div>
                        <div  class="card-footer text-center">
                          <a href="mailto:drsh2k19@gmail.com?Subject=Hello%20Moustafa" target="_top" data-toggle="tooltip" title="hgmeza114@gmail.com"><i class="fa fa-envelope-square fa-lg"></i></a>
                          <a href="https://www.linkedin.com/in/drsh2k/" target="_blank"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                          <a href="https://github.com/drsh2k" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                        </div>
                      </div>
                      <!-- Olga -->
                      <div class="card">
                        <img class="card-img-top img-fluid" src="https://avatars0.githubusercontent.com/u/18175188?s=400&u=e23554cc9ddc67c4643bf1c3077a866a7e5cfbd9&v=4" alt="Olga">
                        <div class="card-block">
                          <h4 class="card-title">Olga</h4>
                          <p class="card-text">CUNY Hunter College</p>
                        </div>
                        <div  class="card-footer text-center">
                          <a href="mailto:olgakent.ok@gmail.com?Subject=Hello%20Olga" target="_top" data-toggle="tooltip" title="hgmeza114@gmail.com"><i class="fa fa-envelope-square fa-lg"></i></a>
                          <a href="https://www.linkedin.com/in/olga-kent/" target="_blank"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                          <a href="https://github.com/olgakent" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                        </div>
                      </div>
                      <!-- Hugo-->
                      <div class="card">
                        <img class="card-img-top img-fluid" src="https://avatars1.githubusercontent.com/u/24769125?s=400&v=4" alt="Hugo">
                        <div class="card-block">
                          <h4 class="card-title">Hugo</h4>
                          <p class="card-text">The City College of New York</p>
                        </div>
                        <div  class="card-footer text-center">
                          <a href="mailto:hgmeza114@gmail.com?Subject=Hello%20Hugo" target="_top" data-toggle="tooltip" title="hgmeza114@gmail.com"><i class="fa fa-envelope-square fa-lg"></i></a>
                          <a href="https://www.linkedin.com/in/hgmeza/" target="_blank"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                          <a href="https://github.com/hgmeza" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                        </div>
                      </div>
                      <!-- Neal -->
                      <div class="card">
                        <img class="card-img-top img-fluid" src="https://avatars2.githubusercontent.com/u/22784692?s=400&v=4" alt="Neal">
                        <div class="card-block">
                          <h4 class="card-title">Neal</h4>
                          <p class="card-text">The City College of New York</p>
                        </div>
                        <div  class="card-footer text-center">
                          <a href="mailto:nealrea818@gmail.com.com?Subject=Hello%20Neal" target="_top" data-toggle="tooltip" title="hgmeza114@gmail.com"><i class="fa fa-envelope-square fa-lg"></i></a>
                          <a href="https://www.linkedin.com/in/nealrea/" target="_blank"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
                          <a href="https://github.com/nealrea" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
    </section>
</div>
