<!-- About Section -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {
    background-image: url(backgroundAbout.jpg);
    background-repeat: no-repeat;
    margin: auto;
    font-weight: bold;
}
.edits {
    margin-top: -200px;
}
.why {
    margin-top: -22px;
}

.center {
  display: block;
  margin-left: -150px;
  margin-right: auto;
}
.move {
    margin-top: -200px;
}
</style>

<div class="container" style="margin-top: -150px">
    <section class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-2">
                    <p>
                        Using NASA climate simulation data from the Goddard Institute of Space Studies (GISS), we have created this user-interactive visualization showing how various diagnostics such as surface temperature and precipitation are predicted to change over time, both with and without regulations on anthropogenic emissions. Users can specify which diagnostic to visualize, as well as toggle between anthropogenic regulation modes. In addition, users can share their findings through popular social media platforms.
                    </p>
                    <br>
            </div>
        </div>
    </section>
</div>

<div class="container move">
    <section class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-2 why">
                    <h2>Why do we care?</h2>
                    <p>
                        Climate change is real and it is happening right now. While the vast majority of scientists and politicians agree that the Earth cycles through natural changes in climate throughout time, the debate on the significance of anthropogenic effects on climate change is at the center of a growing rift between the political and scientific communities. Scientists have compelling evidence that human interactions with the planet are indeed contributing to and compounding the natural climate cycles of the Earth. It is crucial that we work to create new distribution methods of this information so that the public can be informed and politicians can enact legislation to contain and regulate anthropogenic contributions to climate change.
                    </p>

                    <p>
                        The scientific community is always seeking new methods of content distribution in an effort to convey important climate information to as many individuals as possible. While some distribution media do exist currently, our project's value lies in its social sharing capabilities. The ability to start a dialogue between users on popular social platforms is crucial to the advancement of the anthropogenic emission regulation agenda.
                    </p>

                    <p>
                        Special thanks to Dr. Allegra LeGrande and Dr. Katherine Marvel from NASA Goddard Institute for Space Studies for their continued support throughout this project.
                    </p>
                <br>
                
                <br><br>

                    <p><a href="/people">Meet the team!</a></p>
                    <p><a href="/references">References</a></p>
            </div>
        </div>
    </section>
</div>

