<div class="container" style="margin-top: -150px">
    <section class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-2">

                    <h2>References</h2>
                    <ul id="refs">
                        <li>Future climate change under RCP emission scenarios with GISS ModelE2: <br><a href="http://onlinelibrary.wiley.com/doi/10.1002/2014MS000403/full">http://onlinelibrary.wiley.com/doi/10.1002/2014MS000403/full</a></li><br>

                        <li>Synthesizing long-term sea level rise projections
                        – the MAGICC sea level model v2.0: <br><a href="https://www.geosci-model-dev.net/10/2495/2017/gmd-10-2495-2017.pdf">https://www.geosci-model-dev.net/10/2495/2017/gmd-10-2495-2017.pdf</a></li><br>

                        <li>Climate Central - Sea-level map: <br><a href="http://gothamist.com/2015/10/13/nyc_climate_change_map.php">http://gothamist.com/2015/10/13/nyc_climate_change_map.php</a></li><br>

                        <li>ARS Technica - New York City’s future storm risk dominated by sea level rise: <br><a href="https://arstechnica.com/science/2017/10/new-york-citys-future-storm-risk-dominated-by-sea-level-rise/">https://arstechnica.com/science/2017/10/new-york-citys-future-storm-risk-dominated-by-sea-level-rise/</a></li><br>

                        <li>Data: <br><a href="https://esgf-node.llnl.gov/search/cmip5/">https://esgf-node.llnl.gov/search/cmip5/</a></li><br>  
                    </ul>
                    <br>
            </div>
        </div>
    </section>
</div>