<!-- About Section -->

<style>
.center {
  display: block;
  margin-left: -150px;
  margin-right: auto;
}
.move {
    margin-top: -100px;
}

</style>

<div class="container move">
    <section class="container content-section text-center">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-2">
                <h1>Climate Change: Do Humans Matter?</h1>
                    <p>
                        Climate change is real and it is happening right now. While the vast majority of scientists and politicians agree that the Earth cycles through natural changes in climate throughout time, the debate on the significance of anthropogenic effects on climate change is at the center of a growing rift between the political and scientific communities. Scientists have compelling evidence that human interactions with the planet are indeed contributing to and compounding the natural climate cycles of the Earth. It is crucial that we work to create new distribution methods of this information so that the public can be informed and politicians can enact legislation to contain and regulate anthropogenic contributions to climate change.
                    </p>

                    <p>
                        The scientific community is always seeking new methods of content distribution in an effort to convey important climate information to as many individuals as possible. While some distribution media do exist currently, our project's value lies in its social sharing capabilities. The ability to start a dialogue between users on popular social platforms is crucial to the advancement of the anthropogenic emission regulation agenda.
                    </p>
                <br>
                <img class="center" src="environment.jpg">
                <br><br>

                <h3>Overview</h3>
                    <p>
                        Using NASA climate simulation data from the Goddard Institute of Space Studies (GISS), we have created user-interactive visualizations that show how various diagnostic fluctuations (i.e. surface temperature, precipitation, etc.) change over time, both with and without regulations on anthropogenic emissions. Users can specify which diagnostic to visualize, as well as toggle between anthropogenic regulation modes. In addition, users can share their findings through popular social media platforms.
                    </p>
                    <br>
                    <p><a href="/people">Check who we are</a></p>
            </div>
        </div>
    </section>
</div>
